<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }
        
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .header h1 {
            color: #333;
            font-size: 24px;
            margin: 0;
        }

        .content {
            margin-bottom: 30px;
        }

        .content p {
            margin: 0 0 10px;
            line-height: 1.5;
            color: #444; /* Đổi màu văn bản để nổi bật hơn */
        }

        .footer {
            text-align: center;
        }

        .footer p {
            color: #999;
            font-size: 14px;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Dear {{username}},</h1> <!-- Thay đổi phần tiêu đề -->
        </div>
        <div class="content">
            <p>We hope this message finds you well.</p> 
            <p>We would like to express our sincere gratitude for your submission.</p> 
            <p>Your efforts and dedication to your studies do not go unnoticed, and we appreciate your commitment to excellence.</p> 
            <p>Please find attached your submitted work.</p> 
            <p>Once again, thank you for your contribution and hard work.</p> 
        </div>
        <div class="footer">
            <p>Best regards,</p>
            <p>The Department Chair</p> <!-- Thay đổi chữ ký của người gửi email -->
        </div>
    </div>
</body>
</html>
